@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

main div img {
  width: 60%;
  border-radius: 3rem;
}

main div p {
  color: black;
}

.title-movies{
    margin-bottom: 2rem;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-personaje{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.main-personaje .personaje {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 90%;
    height: 90%;
    border-radius: .5rem;
    padding: 1rem;
}

.poster{
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .main-personaje{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: .5rem;
    }
}
